services:
  # API de Flask
  api:
    build: .
    ports:
      - "0.0.0.0:5000:5000"
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=postgresql://usuario:password@db:5432/proyectoCDDIA_DB
    depends_on:
      - db

  # La Base de Datos (PostgreSQL)
  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=usuario
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=proyectoCDDIA_DB
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: